form#auth {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  /* background: #f5f5f5; */
  /* border: 1px solid #dcdcdc; */
  height: 720px;
  border-radius: 10px;
}

form#auth input {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  width: 300px;
  height: 44px;
  padding: 0 15px;
  color: #333;
  margin: 0 0 10px;
}

form#auth input::placeholder {
  color: rgba(153, 153, 153, 0.7);
}

form#auth span {
  color: #3b9eff;
  margin: 0 0 10px;
  font-weight: bold;
}

form#auth button {
  margin: 5px 0 0;
  height: 44px;
  width: 300px;
  background: #3b9eff;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background 0.2s;
}

form#auth button:hover {
  background: #3b9eff;
}

form#auth a {
  color: #000;
  margin-top: 15px;
  font-size: 16px;
  opacity: 0.4;
}

form#auth a:hover {
  opacity: 1;
}
