header#main-header {
  background: #fff;
  height: 72px;
  border-bottom: 1px solid #ddd;
}

header#main-header .header-content {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 72px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

header#main-header .header-content p {
  margin-left: 5px;
}

header#main-header .header-content #new {
  margin-left: 1025px;
  margin-top: 5px;
}

header#main-header .header-content #login {
  margin-left: 20px;
  margin-top: 5px;
}
